:root {
  /* Colors */
  --primary: #3F4B55;
  --secondary: #6F8495;
  --black: #303030;
  --white: #ffffff;
  --gray: #F6F8FA;
  --shadow1: 2px 2px 10px #eeeeee, -2px -2px 10px #eeeeee;
}

.shadow-container {
  box-shadow: var(--shadow1);
  border-radius: 2px;
}

.fs-p {
  font-size: 16px;
}

.fs-subp {
  font-size: 20px;
}

.fs-subhead {
  font-size: 24px;
}

.fs-xl {
  font-size: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.form-error-msg {
  position: absolute;
  bottom: -22px;
}

.pwd-feild-eye {
  position: absolute;
  right: 50px;
  bottom: 8px;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

/* Globally Elements */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.navbar-toggler {
  z-index: 100 !important;
}

.btn-primary {
  color: var(--white) !important;
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

.btn-primary:hover {
  color: var(--primary) !important;
  background-color: var(--white) !important;
  border: 1px solid var(--primary) !important;
}

.btn-outline-primary-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.show,
.btn-outline-primary:first-child:active,
:not(.btn-outline-primary-check)+.btn-outline-primary:active,
.btn-outline-primary {
  background: var(--white) !important;
  color: var(--primary) !important;
  border: 1px solid transparent !important;
}

.btn-outline-primary:hover {
  background: var(--primary) !important;
  color: var(--white) !important;
  border: 1px solid var(--white) !important;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn:focus-visible,
.btn-check:checked+.btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check)+.btn:active:focus-visible {
  box-shadow: none !important;
  transition: none !important;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--white);
  color: var(--black);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Remove Outline on Buttons */
input[type="button"]:active {
  outline: none;
}

input[type="button"]::-moz-focus-inner {
  outline: none;
  border: none;
}