*:focus {
  outline: none !important;
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* margin-top: 20px; */
  background: var(--gray);
  transition: all 1s ease;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}