*:focus {
  outline: none !important;
  box-shadow: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* margin-top: 20px; */
  background: #111111;
  transition: all 1s ease;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}