/* Notification/Alert */
.k-notification-container {
    margin: 6px;
}

/* Sidebar- Panelbar */
.panelbar-wrapper .k-animation-container .k-popup .k-list .k-list-content .k-list-ul .k-list-item.k-selected,
.panelbar-wrapper .k-selected,
.k-animation-container .k-selected {
    background: var(--secondary) !important;
    background-color: var(--secondary) !important;
}

.k-panelbar>.k-item>.k-link,
.k-panelbar>.k-panelbar-header>.k-link,
.k-panelbar,
.k-panelbar .k-link.k-hover,
.k-item:hover {
    color: var(--white) !important;
    background-color: var(--primary) !important;
    background: var(--primary) !important;
    transition: none !important;
}

.k-panelbar .k-link {
    cursor: pointer !important;
}

.k-panelbar>.k-panelbar-header>.k-link:hover,
.k-panelbar .k-link:hover,
.k-panelbar>.k-panelbar-header>.k-link.k-selected,
.k-menu-group .k-item>.k-link:active {
    background-color: var(--secondary) !important;
    background: var(--secondary) !important;
}

.k-panelbar .k-panelbar-expand,
.k-panelbar .k-panelbar-collapse,
.k-panelbar .k-panelbar-toggle,
.k-menu:not(.k-context-menu)>.k-item {
    color: var(--white) !important;
}

.k-panelbar .k-group>.k-item.k-level-1 .k-link,
.k-panelbar .k-panelbar-group>.k-panelbar-item.k-level-1 .k-link {
    padding-left: 24px !important;
}

.k-panelbar .k-group>.k-item.k-level-2 .k-link,
.k-panelbar .k-panelbar-group>.k-panelbar-item.k-level-2 .k-link {
    padding-left: 32px !important;
}

/* Searchbar */
.kendoui-searchbar .k-input-md .k-input-inner {
    padding-left: 32px;
}


/* Dropdowns */
.icon-dropdown-btn .k-button {
    background-color: transparent;
    border: none;
}

.k-animation-container .k-popup {
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
}

.k-dropdown .k-input {
    color: var(--secondary);
}

.k-list .k-state-selected {
    background-color: var(--secondary);
}

.k-checkbox:indeterminate,
.k-checkbox.k-indeterminate {
    border-color: rgba(0, 0, 0, 0.08);
    color: var(--secondary);
    background-color: #ffffff;
}

.k-checkbox:indeterminate,
.k-checkbox.k-indeterminate {
    background-image: none;
}

.k-checkbox:checked,
.k-checkbox.k-checked {
    border-color: var(--secondary);
    color: white;
    background-color: var(--secondary);
}

.k-button-solid-base {
    background-image: none;
}

/* Buttons */
.primary-btn .k-button,
.outline-btn .k-button:hover {
    background-color: var(--primary);
    color: var(--white);
}

.primary-btn .k-button:hover,
.outline-btn .k-button {
    background-color: var(--white);
    color: var(--primary);
    border-color: var(--primary);
}

.k-button-solid-primary,
.k-button-solid-primary:hover {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

/* Input-Searchbar */
.k-input-inner {
    z-index: 0;
}


/* Accordion */
.k-expander-title,
.k-expander.k-expanded .k-expander-header {
    color: var(--primary);
    letter-spacing: 1px;
    font-weight: 700;
}

.k-expander.k-expanded .k-expander-header {
    border-bottom: 1px solid var(--secondary);
}

.k-expander.k-focus {
    box-shadow: none;
}

.k-expander.k-expanded {
    box-shadow: var(--shadow1);
}

.k-expander+.k-expander.k-expanded,
.k-expander.k-expanded+.k-expander {
    margin-top: 12px !important;
}


/* Switch */
.k-switch-md .k-switch-track,
.k-switch-md {
    height: 15px;
    width: 35px;
    border-color: var(--primary);
    color: var(--primary);
}

.k-switch-md .k-switch-thumb {
    width: 10px;
    height: 10px;

}

.k-switch-off .k-switch-thumb {
    background-color: var(--primary);
}

.k-switch-md.k-switch-off .k-switch-thumb-wrap {
    left: 8px;
}

.k-switch-md.k-switch-on .k-switch-thumb-wrap {
    left: calc(100% - 8px);
}

.k-switch-on .k-switch-track {
    border-color: var(--primary);
    color: white;
    background-color: var(--primary);
}

.billing-switch .k-switch-md .k-switch-track,
.billing-switch .k-switch-md {
    height: 26px;
    width: 50px;
}

.billing-switch .k-switch-md .k-switch-thumb {
    width: 20px;
    height: 20px;

}

.billing-switch .k-switch-md.k-switch-off .k-switch-thumb-wrap {
    left: 13px;
}

.billing-switch .k-switch-md.k-switch-on .k-switch-thumb-wrap {
    left: calc(100% - 13px);
}

/* Dialog */
.k-window-title {
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--primary);
}

.k-stepper .k-step-done .k-step-indicator,
.k-stepper .k-step-current .k-step-indicator,
.k-progressbar .k-selected,
.k-stepper .k-step-current:hover .k-step-indicator,
.k-stepper .k-step-current.k-hover .k-step-indicator,
.k-stepper .k-step-current.k-step-hover .k-step-indicator,
.k-stepper .k-step-done:hover .k-step-indicator,
.k-stepper .k-step-done.k-hover .k-step-indicator,
.k-stepper .k-step-done.k-step-hover .k-step-indicator {
    border-color: var(--secondary);
    color: var(--white);
    background-color: var(--secondary);
}

.k-dialog-wrapper {
    z-index: 99 !important;
}