.navbar-wrapper {
    background: var(--primary);
    padding: 20px 0;
}

.navbar-wrapper .nav-link {
    color: var(--white);
}

.k-menu {
    background-color: var(--primary) !important;
}

.navbar-wrap,
.nav-items-wrap {
    background-color: var(--primary) !important;
    box-shadow: var(--shadow);
    margin-left: auto;
    z-index: 1;
}

.nav-items-wrap {
    position: fixed;
}

.k-appbar-light {
    padding: 0 !important;
    background-color: var(--gray) !important;
    color: var(--primary) !important;
    min-height: 100vh !important;
    flex-flow: row !important;
    align-items: baseline !important;
    justify-content: flex-start !important;
    box-shadow: none;
}

.navbar-icons {
    margin: 0 20px 0 50px;
}

.navbar-icons .k-button-icon {
    font-size: 20px;
    cursor: pointer;
    color: var(--white);
}

@media only screen and (max-width: 992px) {
    .navbar-icons {
        margin: 0 10px 0 20px;
    }
}